{%  extends 'base.html.twig'  %}

{% block title %} {{ title }}{% endblock %}


{%  block  body %}
<h1>
    {{ title }}
</h1>



<div>
    <p>
        Nous fetons aujourd'hui l'anniversaire de Baptiste Euphrasie
    </p>
    <p>
        Cette page est vraiment moche mais tu demanderas a Melissa je l'ai codé en 4 minutes
    </p>
</div>

<h2> Comments ({{ comments|length  }}) </h2>

<ul>
    {% for comment in comments %}
    <li> {{ comment }} </li>
    {% endfor %}
</ul>

{% endblock %}